a {
  text-decoration: none;
  color: black;
}
menu {
  border-bottom: 1px solid #f1f0f0;
}

li {
  list-style-type: none;
  display: inline-block;
  border: 1px solid black;
  transition: border-color 0.1s ease, box-shadow 0.3s ease, transform 0.3s ease;
  display: inline-block;
  opacity: 0.9;

  border-radius: 4px;
  box-shadow: 5px 5px 0px rgb(224, 125, 251);
  padding: 8px 12px;
  transition: border-color 0.1s ease, box-shadow 0.3s ease, transform 0.3s ease;
}
li:hover {
  box-shadow: 0px 0px 0px rgb(171, 62, 62);
  border-color: transparent;
  transform: translateX(3) translateY(4);
}
