.drop-area {
  width: 80%;
  height: 500px;
  border: 20px solid black;
}
#drag-and-drop-text {
  background-color: aqua;
}

.drop-area:hover {
  background-color: blue;
}
#prompt-text {
  width: 80%;
  margin-bottom: 20px;
}
#display-dropped-photos {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  margin-top: 40px;
}
.image-dropped-in {
  display: flex;
  justify-content: center;
  object-fit: contain;
  gap: 10px;
  height: 100px;
  width: 100px;
  overflow: hidden;
}
.image-dropped-in img {
  height: 100px; /* Fixed height for all images */
  width: auto; /* Maintain aspect ratio */
  display: block; /* Block display to fit the container properly */
}
#div-for-button-to-fetch-data-from-backend {
  display: none;
}
