.drop-area {
  width: 80%;
  height: 500px;
  border: 20px solid black;
}
#drag-and-drop-text {
  background-color: aqua;
}

.drop-area:hover {
  background-color: blue;
}
#prompt-text {
  width: 80%;
  margin-bottom: 20px;
}
